<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CLASE 30-05-2024</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}"
    rel="stylesheet">
</head>
<body>
    <div class="alert alert-primary" role="alert">
        A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <table class="table table-dark">
        <thead>
        ...
        </thead>
        <tbody>
        <tr class="table-active">
            ...
        </tr>
        <tr>
            ...
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2" class="table-active">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
</body>
</html>